@import url(../common.css);
@import url(../about/index.css);

#header {
  display: flex;
}

button {
  padding: 0.6em;
  background: #B2AAE9;
  color: black;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 200ms filter;
  margin-left: auto;
  align-self: self-end;
}

button:hover {
  filter: brightness(0.8);
}
